@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Roboto', sans-serif;
	font-size:18px;
}

#page-title, #page-subtitle{
	color:white;
}